<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Dear Admins</h1>
    <p>
        The funds for <%= @coin.name %> are runnning low. Please replenish if necessary.
    </p>
  </body>
</html>